
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

body{
  margin:0;
  background:transparent;
  overflow:hidden;
}

#team{
  width:2560px;

  display:flex;
  justify-content:center;
  gap:10px;

  padding-top:10px;
}

.pokemon{
  width:110px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  position:relative;
}

.pokemon img{
  width:125px;
  height:125px;
  object-fit:contain;
  image-rendering:high-quality;
  filter: drop-shadow(0 0 2px rgba(0,0,0,0.5));
  z-index:1;
}

.name{
  position:relative;
  margin-top:-28px;
  z-index:2;

  font-family:'Orbitron', sans-serif;
  font-size:16px;
  font-weight:900;

  color:white;

  white-space:nowrap;

  text-shadow:
    -3px -3px 0 black,
     3px -3px 0 black,
    -3px  3px 0 black,
     3px  3px 0 black;
}
