
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

body{
  margin:0;
  background:transparent;
  overflow:hidden;
}

#team{
  display:flex;
  gap:10px;
  padding:20px;
}

.pokemon{
  width:140px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
  position:relative;
}

.pokemon img{
  width:120px;
  height:120px;
  object-fit:contain;
  z-index:1;
}

.name{
  position:relative;
  margin-top:-28px;
  z-index:2;

  font-family:'Orbitron', sans-serif;
  font-size:22px;
  font-weight:900;

  color:white;

  text-shadow:
    -3px -3px 0 black,
     3px -3px 0 black,
    -3px  3px 0 black,
     3px  3px 0 black;
}
